langchain==0.3.7
langchain-community==0.3.7
langchain-openai==0.2.9
langgraph==0.2.53
langsmith==0.1.147
langchain-text-splitters==0.3.2
chromadb==0.5.20
rank-bm25==0.2.2
pypdf==5.1.0
python-docx==1.1.2
sentence-transformers==3.3.1
fastapi==0.115.5
uvicorn==0.32.1
streamlit==1.40.1
python-dotenv==1.0.1
ragas==0.2.6
tiktoken==0.8.0
langchain-groq==0.2.1
transformers==4.46.3
accelerate==0.34.2